.reviews {
  padding-bottom: 35px;
  &__title {
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    color: #0d0d0d;
    text-transform: uppercase;
    margin: 0 0 40px;
  }

  &__item:not(:last-child) {
    border-bottom: 1px solid #f6f6f6;
  }
}
