@import "base/variables";

* {
  box-sizing: border-box;
  font-family: 'Museo Sans Cyrl', sans-serif;
}

body {
  margin: 0;
}

.container {
  max-width: 950px;
  margin: 0 auto;
}

@import "blocks/promo";
@import "blocks/header";
@import "blocks/btn";
@import "blocks/advantage";
@import "blocks/consultation";
@import "blocks/feed-form";
@import "media";
